<% provide(:title, "My Comments")%>
<div class="settings-container">
    
    <%= render 'side_navbar' %>

    <div class="settings-content" id="settings-partial">
        <div class="mycomments-container">
            <%= render 'recent_comments' %>
        </div>
        
    </div>
</div>