<% provide(:title, "Setting")%>
<div class="settings-container">
    
    <%= render 'side_navbar' %>

    <div class="settings-content" id="settings-partial">
        <div class="setting-container">
            
            <%= render 'setting_header'%>

            <div id="setting-form">
                <%= render 'personal_info' %>
            </div>

        </div>
    </div>
</div>


