// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forgot-header {
    min-width: 600px;
    font-size: 30px;
    margin: 50px 0px;
}

.forgot-password-container {
    width: 65%;
    text-align: center !important;
    margin: 50px auto !important;
    padding-bottom: 100px !important;
    background-color: white;
    min-width: 600px;

    .forgot-new {
        display: inline-block !important;
        width: 80%;
        margin: 0px;
        float: none;
        input {
            width: 100%;
            margin: 10px 0;
        }
        .forgot-submit {
            background-color: #31998f !important;
            border-color: #31998f;
            color: white !important;
        }
        label {
            margin: 10px 0;
        }
    }
}

