<footer class="footer">
    <ul>
        <li>Copyright© 2020</li>
        <li>Powered by Ken Wei Ooi - s3693288</li>
        <li>|</li>
        <li>Tutorial Group 6</li>
        <li>|</li>
        <li>Harsain Kapoor</li>
    </ul>
</footer>